/* comments look like this in CSS files */

#navbar {
  background-color: #000000; /* black */
  color: #ffffff;            /* white */
  margin: 0;
  padding: 0.5em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
}

#navbar a {
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
}

main {
  padding: 0.5em;
}

body{
    background-color: #2E2E2E;
    width: 100%;
    height: 100%;
}
p {
	font-size: .8em;  
}


.Timeline-title{
	background-color: #e0e0e0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
}

.Timeline-subtitle{
	color: #F7FE2E;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

.Timeline-select{
	color:#E6E6E6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
}

.Main{
	color:#E6E6E6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
}

.pics{
	box-shadow: 10px 10px 10px #888888;
	
}